.MultiSelect {
    width: 100%;
    position: relative;
}

.selectedList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.searchBlock {
    position: relative;
};

.searchInput {
    z-index: var(--multi-select-input-z-index);
}

.closeBtn {
    z-index:  var(--multi-select-closeBtn-z-index);;
    color: var(--shadow-color);

    position: absolute;
    right: 1px;
    top: 0;

    & path {
        stroke: var(--shadow-color);
    }
}

.closeBtn:hover {
    & path {
        stroke: rgb(from var(--accent-shadow-color) r g b / 0.7);
        transition: stroke 0.2s;
    }
}


.optionsList {
    width: 100%;
    position: absolute;
    z-index: var( --multi-select-list-z-index);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    min-height: 62px;
    max-height: 254px;
    overflow-y: scroll;

    background-color: var(--dark-bg-color);

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--shadow-color);
}

.searchNotFound {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closing {
    .closeBtn {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s;

    }
    .optionsList {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s;
    }
}

.closed {
    .closeBtn {
        visibility: hidden;
    }
    .optionsList {
        visibility: hidden;
    }
}

.opening {
    .closeBtn {
        visibility: visible;
        opacity: 0;
    }
    .optionsList {
        visibility: visible;
        opacity: 0;
    }
}

.opened {
    .closeBtn {
        pointer-events: auto;
        opacity: 1;
        transition: opacity 0.3s;
    }
    .optionsList {
        pointer-events: auto;
        opacity: 1;
        transition: opacity 0.3s;
    }
}

.categoryName {
    width: 100%;
    padding: 8px;
    color: var(--shadow-color);
    border-bottom: 1px solid rgb(from var(--shadow-color) r g b / 0.6);
}