:root {
    /* fonts */
    --font-family-main: system-ui, -apple-system, "Segoe UI", serif;
    --font-family-code: consolas, 'Times New Roman', serif;
    --font-weight-s: 500;
    --font-weight-m: 500;
    --font-weight-l: 500;
    --font-weight-xl: 500;

    --font-size-s: 14px;
    --font-line-s: 22px;
    --font-s: var(--font-weight-s) var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-s-code: var(--font-size-s) / var(--font-line-s) var(--font-family-code);

    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-weight-m) var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-m-code: var(--font-size-m) / var(--font-line-m) var(--font-family-code);

    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-weight-l) var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-l-code: var(--font-size-l) / var(--font-line-l) var(--font-family-code);

    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-weight-xl) var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    --font-xl-code: var(--font-size-xl) / var(--font-line-xl) var(--font-family-code);


    /* Z-indexes */
    --multi-select-list-z-index: 20;
    --multi-select-input-z-index: 21;
    --multi-select-closeBtn-z-index: 22;

    --select-z-index: 30;
    --select-placeholder-z-index: 31;

    --navbar-z-index: 100;

    /* heights */
    --navbar-height: 60px;
    --page-wrapper-height: calc(100vh - var(--navbar-height));
}