.FormArray {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    color: var(--shadow-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}