.ContactsEditor {
    width: 100%;
}

.row {
    display: flex;
    gap: 10px;
}

.links {
    position: relative;
}

.addOtherBtn {
    position: absolute;
    top: 17px;
    right: 0;
    color: var(--secondary-color)
}

.preferBtn {
    color: var(--secondary-color);

    & svg {
        color: var(--secondary-color);
    }
}

.preferred {
     & svg {
        color: var(--accent-shadow-color);
    }
}
