.FileUploader {
    width: 100%;
    height: 50px;
    & path {
        color: var(--shadow-color);
    }
}

.label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 var(--shadow-color);
    padding: 13px;
    background-color: var(--dark-bg-color);
}

.cancelButton:hover {
    & path {
       color: red; 
       transition: color 0.2s;
    }

}

.FileUploader:hover > .label{
    background-color: var(--light-bg-color);
    transition: background-color 0.2s;
}
