.Input {
    width: 100%;
    position: relative;
    height: 50px;
};


.inputField {
    width: 100%;
    font: var(--font-m);
    outline: none;
    padding: 13px;
    border-radius: 4px;
    border:  none;
    box-shadow: 0px 0px 3px 0px var(--shadow-color);
    background-color: var(--dark-bg-color);
    color: var(--primary-color);
}

.inputField:hover,
.inputField:focus {
    background-color: var(--light-bg-color);
    transition: background-color 0.2s;
}

.inputField:focus {
    box-shadow: 0px 0px 3px 0px var(--accent-shadow-color);
}

.hasLabel {
    .inputField {
        padding: 19px 13px 7px 13px;
    }
    .inputLabel {
        position: absolute;
        color: var(--shadow-color);
        font: var(--font-m);
        top: 13px;
        left: 13px;
        transition: top 0.2s, font 0.2s;
        cursor: text;
    }

    .inputField:focus + .inputLabel,
    .inputField:not(:placeholder-shown) + .inputLabel  {
        font: var(--font-s);
        top: 0px;

        transition: top 0.2s, font 0.2s;
    }
}


