.Group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    margin-top: 30px;
    color: var(--shadow-color);
}

.left,
.right,
.center {
    display: flex;
    gap: 20px;
}

.left {
    align-items: left;
}

.center {
    align-items: center;
}

.right {
    align-items: right;
} 

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}