.PreviewErrors {
    width: 800px;
    height: 100%;
    overflow: visible;
    padding-bottom: 30px;
    padding-inline: 60px;
    background-color: var(--dark-bg-color);
    box-shadow: 0px 0px 1px 0px var(--shadow-color);
}
