.LanguageItem {
    display: flex;
    flex-direction: row;
        gap: 10px;
}

.index {
    color: var(--secondary-color);
    font: var(--font-l);
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language {
    min-width: 70%;
}
