.LangSwitcher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    fill: var(--primary-color);
}

.LangSwitcher:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
}