.ContactLinkItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.deleteBtn {
    color: var(--secondary-color);

    & svg {
        color: var(--secondary-color);
    }
}

.preferBtn {
    color: var(--secondary-color);

    & svg {
        color: var(--secondary-color);
    }
}

.preferred {
     & svg {
        color: var(--accent-shadow-color);
    }
}
