.Select {
    width: 100%;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--shadow-color);
    height: 50px;
    padding: 13px;
    appearance: none;

    color: var(--primary-color);
    background-color: var(--dark-bg-color);

    &:focus {
        outline: none;
    }
}

.Select:hover,
.Select:focus {
    background-color: var(--light-bg-color);
    transition: background-color 0.2s;
}

.Select:focus {
    box-shadow: 0px 0px 3px 0px var(--accent-shadow-color);
}

.SelectOption {
    color: var(--primary-color);
}

.emptyValue,
.emptyValue:disabled {
    display: none;
    opacity: 1;
}

.selectWrapper {
    width: 100%;
    position: relative;
    z-index: var(--select-z-index);
}

.placeholder {
    z-index: var(--select-placeholder-z-index);
    position: absolute;
    left: 13px;
    top: 2px;
    font: var(--font-s);
    color: var(--shadow-color);
    pointer-events: none;
    
}

.hasPlaceholder {
    .Select {
        padding: 19px 13px 7px 13px;
    }
}