.Select {
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 50px;
    padding: 13px;
    appearance: none;

    text-overflow: ellipsis;

    &:focus {
        outline: none;
    }
}

.emptyValue,
.emptyValue:disabled {
    display: none;
    opacity: 1;
}

.selectWrapper {
    width: 100%;
    position: relative;
    z-index: var(--select-z-index);
}

.placeholder {
    z-index: var(--select-placeholder-z-index);
    position: absolute;
    left: 13px;
    top: 2px;
    pointer-events: none;
    
}

.hasPlaceholder {
    .Select {
        padding: 19px 13px 7px 13px;
    }
}

.default,
.error:focus-within {
    .Select {
        box-shadow: 0px 0px 3px 0px var(--shadow-color);
        color: var(--primary-color);
        background-color: var(--dark-bg-color);
    }

    .Select:hover,
    .Select:focus {
        background-color: var(--light-bg-color);
        transition: background-color 0.2s;
    }

    .Select:focus {
        box-shadow: 0px 0px 3px 0px var(--accent-shadow-color);
    }

    .SelectOption {
        color: var(--primary-color);
    }

    .placeholder {
        font: var(--font-s);
        color: var(--shadow-color);
    }
    .errorIcon {
        display: none;
    }
    .hintIcon {
        display: none;
    }
}

.error {
    .Select {
        box-shadow: 0px 0px 3px 0px var(--error-shadow-color);
        color: var(--error-color);
        background-color: var(--input-error-bg-color);;
        padding-right: 35px;
    }

    .Select:hover,
    .Select:focus {
        background-color: var(--error-bg-color);
        transition: background-color 0.2s;
    }

    .SelectOption {
        color: var(--primary-color);
    }

    .placeholder {
        font: var(--font-s);
        color: rgb( from var(--error-shadow-color) r g b / 0.7);
    }
}



.Select:hover:not(:focus) ~* .popup {
    opacity: 1;
    transition: opacity 0.2s;
}

.errorIcon,
.hintIcon {
    position: absolute;
    top: 13px;
    right: 10px;
    pointer-events: none;
}

.hintIcon {
    color: var(--primary-color);
}

.errorIcon {
    color: var(--error-color);
}