.dark {
    /* Font */
    --primary-color: #DBDBDB;
    --secondary-color: #555555;

    /* Background */
    --bg-color: #090F11;
    --light-bg-color: #151C1F;
    --dark-bg-color: #0C1214;
    --input-bg-color: ;

    /* Skeleton */
    --skeleton-shadow: #4c4c4c;
    --skeleton-color: rgb(142 143 147 / 20%);

    /* borders, shadows */
    --shadow-color: #595959;

    /* Other colors */
    --accent-color: #1559eb;
    --accent-bg-color: #ecf2ff;
    --accent-shadow-color: #1559eb;
}
