body.light {
    /* Font */
    --primary-color: #141C1F;
    --secondary-color: #ADBCC0;

    /* Background */
    --bg-color: #EFF5F6;
    --light-bg-color: #E2EEF1;
    --dark-bg-color: #FFFFFF;

    /* Skeleton */
    --skeleton-shadow: #dbdbdb;
    --skeleton-color: rgba(255, 255, 255, 0.2);
}