.light {
    /* Font */
    --primary-color: #141C1F;
    --secondary-color: #595959;

    /* Background */
    --bg-color: #f1f3f7;
    --light-bg-color: #eef3fd;
    --dark-bg-color: #FFFFFF;
    --input-bg-color: #FFFFFF;

    /* Skeleton */
    --skeleton-shadow: #dbdbdb;
    --skeleton-color: rgba(255, 255, 255, 0.2);

    /* borders, shadows */
    --shadow-color: #595959;

    /* Other colors */
    --accent-color: #1559eb;
    --accent-bg-color: #e1ebff;
    --accent-shadow-color: #1559eb;
}
