.Page {
    width: 100vw;
    height: var(--page-wrapper-height);
    overflow-y: scroll;

    display: flex;
    justify-content: center;
};

.Page > * {
    min-height: 100%;
    height: fit-content;
}