.NavLinks {
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}

.next {
    max-width: 25%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.prev {
    max-width: 25%;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}