.DatePicker {
    box-sizing: border-box;
    cursor: pointer;
    height: 50px;
    padding: 13px;
    border: none;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    text-align: left;

}

.datePickerWrapper {
    position: relative;
    width: 100%;
}


.hasLabel {
    .label {
        position: absolute;
        top: 1px;
        left: 13px;
        font: var(--font-s);
        color: var(--secondary-color)
    }

    .DatePicker {
        padding: 19px 32px 7px 13px;
    }

    .DatePicker::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 13px;
        right: 13px;
    }
}

.DatePicker::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.icon {
    position: absolute;
    top: 13px;
    right: 13px;
    pointer-events: none;
}


.default, 
.error:focus-within {
    .DatePicker {
        box-shadow: 0 0 3px 0 var(--shadow-color);
        background: var(--dark-bg-color);
        color: var(--primary-color);

        &:hover {
            background-color: var(--light-bg-color);
            transition: background-color 0.3s;
        }
        &:focus {
            background-color: var(--light-bg-color);
            box-shadow: 0 0 3px 0 var(--accent-shadow-color);
            outline: none;
        }
    }
    &.hasLabel > .label {
        color: var(--secondary-color)
    }
    .icon {
        fill: var(--secondary-color)
    }
}

.error, .DatePicker:invalid {
    .DatePicker {
        box-shadow: 0 0 3px 0 var(--error-shadow-color);
        background: var(--input-error-bg-color);
        color: var(--error-color);

        &:hover {
            background-color: var(--error-bg-color);
            transition: background-color 0.3s;
        }
        &:focus {
            background-color: var(--error-bg-color);
            box-shadow: 0 0 3px 0 var(--error-shadow-color);
            outline: none;
        }
    }
    &.hasLabel > .label {
        color: var(--error-color)
    }
    .icon {
        fill: var(--error-color)
    }
}