.DatePicker {
    box-sizing: border-box;
    cursor: pointer;
    height: 50px;
    padding: 13px;
    border: none;
    box-shadow: 0 0 3px 0 var(--shadow-color);
    background: var(--dark-bg-color);
    width: 100%;
    border-radius: 4px;
    text-align: center;
    color: var(--primary-color);
    text-align: left;

    &:hover {
        background-color: var(--light-bg-color);
        transition: background-color 0.3s;
    }

    &:focus {
        background-color: var(--light-bg-color);
        box-shadow: 0 0 3px 0 var(--accent-shadow-color);
        outline: none;
    }


    appearance: none;
}

.datePickerWrapper {
    position: relative;
    width: 100%;
}


.hasLabel {
    .label {
        position: absolute;
        top: 1px;
        left: 13px;
        font: var(--font-s);
        color: var(--shadow-color)
    }

    .DatePicker {
        padding: 19px 32px 7px 13px;
    }

    .DatePicker::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 13px;
        right: 13px;
    }
}

.DatePicker::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.icon {
    position: absolute;
    top: 13px;
    right: 13px;
    pointer-events: none;
    fill: var(--primary-color)
}

