.textAreaWrapper {
    position: relative;
}

.TextArea {
    width: 100%;
    padding: 13px 13px;
    resize: none;
    border: none;
    border-radius: 4px;

    &:focus {
        outline: none;
    }
}

.TextArea:hover,
.TextArea:focus {
    transition: background-color 0.2s;
}

.TextArea:focus {
    box-shadow: 0px 0px 3px 0px var(--accent-shadow-color);
}

.errorIcon,
.hintIcon {
    position: absolute;
    top: 13px;
    right: 10px;
    pointer-events: none;
}

.errorIcon {
    color: var(--error-color);
}

.hintIcon {
    color: var(--primary-color);
}

.TextArea:hover:not(:focus) ~* .popup {
    opacity: 1;
    transition: opacity 0.2s;
}

.default, 
.error:focus-within {
    box-shadow: 0px 0px 3px 0px var(--shadow-color);
    background-color: var(--input-bg-color);

    &.TextArea:hover,
    &.TextArea:focus {
        background-color: var(--light-bg-color);
    }

    &.TextArea:focus {
        box-shadow: 0px 0px 3px 0px var(--accent-shadow-color);
    }
    ~ .errorIcon {
        display: none;
    }
    ~ .hintIcon {
        display: none;
    }
}

.error {
    &.TextArea {
        box-shadow: 0px 0px 3px 0px var(--error-shadow-color);
        background-color: var(--input-error-bg-color);
    }

    &.TextArea:hover,
    &.TextArea:focus {
        background-color: var(--error-bg-color);
    }

    &.TextArea:focus {
        box-shadow: 0px 0px 3px 0px var(--error-shadow-color);
    }
}